$dodger_blue: #248afd;
$buttercup: #f5a623;
$steel_gray: #1e1e2f;
$ebony_clay: #27293d;
$athensa_gray: #f1f2f7;
$white: #ffffff;
$jumbo: #71717a;
$bombay: #b1b1b5;
$santas_gray: #9c9fa6;
$sunset_orange: #ff4747;
$lima: #71C016;
$amber: #ffc100;
$gun_powder: #424351;

$dark_primary: $steel_gray;
$dark_secondary: $ebony_clay;
$light_primary: $white;
$light_secondary: $athensa_gray;
$dark_text_primary: $steel_gray;
$dark_text_secondary: $jumbo;
$light_text_primary: $white;
$light_text_secondary: $bombay;
$dark_border_primary: $gun_powder;
$active_color_primary: $buttercup;
$active_color_secondary: $dodger_blue;
$error_color: $sunset_orange;
$success_color: $lima;
$info_color: $dodger_blue;
$warning_color: $amber;
