$z_index-absolute:          900 !default;
$z_index-dropdown:          1000 !default;
$z_index-sticky:            1020 !default;
$z_index-dropdown-navbar:   1025 !default;
$z_index-fixed:             1030 !default;
$z_index-modal-overlay:     1040 !default;
$z_index-admin-nav:         1041 !default;
$z_index-admin-dropdown:    1042 !default;
$z_index-modal:             1050 !default;
$z_index-alert:             1060 !default;
$z_index-tooltip:           1070 !default;
$z_index-close:             1075 !default;
$z_index-super:             1077 !default;
$z_index-cookies:           1078 !default;
$z_index-loading:           1080 !default;
$z_index-swal2:             2000 !default;
